@import "../../scss/consts.scss";

.country {
	margin-bottom: 30px;
	display: flex;
	gap: 30px;
	@media (max-width: $md2) {
		flex-wrap: wrap;
	}
	// .country__image
	&__image {
		flex: 0 1 50%;
		position: relative;
		padding-bottom: 32%;
		height: fit-content;
		@media (max-width: $md2) {
			padding-bottom: 66%;
			flex: 1 1 100%;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	// .country__content
	&__content {
		font-family: $family;
		flex: 0 1 50%;
		@media (max-width: $md2) {
			flex: 0 1 100%;
		}
	}
	// .country__title
	&__title {
		font-weight: $fwBlack;
		font-size: $fsLarge;
		&:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}
	}
	// .country__items
	&__items {
	}
	// .country__item
	&__item {
		display: flex;
		gap: 10px;
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		@media (max-width: $md4) {
			flex-wrap: wrap;
		}
	}
	// .country__text
	&__text {
		font-weight: $fwMedium;
		text-transform: capitalize;
		white-space: nowrap;
	}
	// .country__values
	&__values {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
	}
	// .country__value
	&__value {
	}
	// .country__links
	&__links {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	// .country__link
	&__link {
		cursor: pointer;
		padding: 0px 5px;
		border-bottom: 1px solid transparent;
		transition: border 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				border-bottom: 1px solid;
			}
		}
	}
}
